<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Thank you!</title>

    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}">

    <!-- Main css -->
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
</head>
<body>
<div class="container">
    <h1>Valige pilet</h1>
    <a href="client-form.html" class="selection"th:href="@{client-form/1}">Üritus 1</a>
    <a href="client-form.html"class="selection"th:href="@{client-form/2}">Üritus 2</a>
    <a href="client-form.html"class="selection"th:href="@{client-form/3}">Üritus 3</a>
    <a href="client-form.html" class="selection" th:href="@{client-form/4}">Üritus 4</a>
</div>
</body>
</html>