<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Thank you!</title>

    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}">

    <!-- Main css -->
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
</head>
<body>

<div class="container">
    <h3>Teretulemast piletikuller.ee kodulehele!</h3>
    <p>Siit saad osta endale mugavalt e-pileteid ilma kodust lahkumata!</p>
    <a th:href="@{/client-form}" class="button">Ostma!</a>

</div>
</body>
</html>