<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Thank you!</title>

    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}">

    <!-- Main css -->
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
</head>
<body>

<div class="container">
    <h1>Valige pilet</h1>
    <div class="event-box" th:each="e: ${eventList}">
        <h2 th:text="${e.getName()}">Nimi </h2>
        <p th:text="${e.getHappeningTime()} +'      ' +${e.getLocation()}">2020-04-24</p>
        <p th:text="'Vanusepiirang:  '+${e.getAgeLimit()}+'+'">18+</p>
        <a href="select-ticket.html" th:if="${e.getAgeLimit()<=vanus and e.getTicketsLeft()>0}" class="button"
           th:href="@{~/selection/{event}(event=${e.getId()})}" th:text="'Lisa korvi'">Lisa korvi</a>
        <p th:if="${e.getAgeLimit()>vanus}" style="color:red;" th:text="'Ebasobiv vanus!'">Ebasobiv vanus!</p>
        <p th:if="${e.getTicketsLeft()<=0}" style="color:red;" th:text="'Piletid otsas!'">Piletid otsas!</p>
    </div>
    <a href="index.html" th:href="@{/}" class="button">Tagasi</a>
</div>
</body>
</html>